.descriptionContainer {
    display: flex;
    max-width: 1800px;
    width: 97.5%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .descriptionVideo {
    flex: 1;
    padding: 20px;
  }
  
  .listItem {
    margin-left: 25px;
  }
  
  .descriptionVideo video {
    width: 450px;
    height: 390px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow:
      0 10px 20px rgba(0, 0, 0, 0.3),
      0 6px 6px rgba(0, 0, 0, 0.23); /* Adds a 3D shadow effect */
  }
  
  .descriptionContent {
    flex: 2;
    padding: 20px;
  }
  
  .highlightDescJson {
    font-weight: bold;
  }
  
  .descriptionTitle {
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(
      90deg,
      rgba(1, 1, 98, 1) 35%,
      rgba(3, 163, 196, 1) 49%,
      rgba(2, 2, 85, 1) 62%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  
  .descriptionParagraph {
    margin-bottom: 16px;
    font-size: 1.1rem;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .videoLeft.descriptionVideo {
    order: 1;
  }
  
  .videoLeft.descriptionContent {
    order: 2;
  }
  
  .videoRight.descriptionVideo {
    order: 2;
  }
  
  .videoRight.descriptionContent {
    order: 1;
  }
  
  /* Additional styling for responsiveness */
  @media (max-width: 768px) {
    .descriptionContainer {
      flex-direction: column;
    }
  
    .descriptionVideo,
    .descriptionContent {
      order: unset;
      padding: 0px;
    }
  
    .descriptionTitle {
      font-size: 1.8rem;
    }
  
    .descriptionParagraph {
      font-size: 1rem;
      padding: 0;
    }
  }
  